In [8]:
import pandas as pd

df_08 = pd.read_csv('data_08_v1.csv') 
df_18 = pd.read_csv('data_18_v1.csv')

In [9]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 2404 non-null   object
 1   displ                 2404 non-null   float64
 2   cyl                   2205 non-null   object
 3   trans                 2205 non-null   object
 4   drive                 2311 non-null   object
 5   fuel                  2404 non-null   object
 6   cert_region           2404 non-null   object
 7   veh_class             2404 non-null   object
 8   air_pollution_score   2404 non-null   object
 9   city_mpg              2205 non-null   object
 10  hwy_mpg               2205 non-null   object
 11  cmb_mpg               2205 non-null   object
 12  greenhouse_gas_score  2205 non-null   object
 13  smartway              2404 non-null   object
dtypes: float64(1), object(13)
memory usage: 263.1+ KB

In [10]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1611 non-null   object
 1   displ                 1609 non-null   float64
 2   cyl                   1609 non-null   float64
 3   trans                 1611 non-null   object
 4   drive                 1611 non-null   object
 5   fuel                  1611 non-null   object
 6   cert_region           1611 non-null   object
 7   veh_class             1611 non-null   object
 8   air_pollution_score   1611 non-null   int64
 9   city_mpg              1611 non-null   object
 10  hwy_mpg               1611 non-null   object
 11  cmb_mpg               1611 non-null   object
 12  greenhouse_gas_score  1611 non-null   int64
 13  smartway              1611 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 176.3+ KB

In [13]:
df_08.shape

(2404, 14)

In [14]:
df_18.shape

(1611, 14)

In [15]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no